@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Kode Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mainSection {
  flex-grow: 1;
  background-color: rgb(236, 189, 124);
  background-image: url('./assets/mainBg.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.primary-font {
  color: #003c25;
  text-shadow: 3px 1px 4px whitesmoke;
}
.bg-green {
  background: #003c25;
}
.card {
  width: var(--max);
}

.card-img-top-nueva {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bgCardDetalleProducto {
  background-color: rgba(255, 255, 255, 0.7);
}